<div class="series-info">
  <img class="series-info--thumbnail" src="{{thumbnail}}">
  <div class="series-info--meta">
    {{#if isStreamSeries}}
      <div>
        {{series.shortDescription}}
      </div>
    {{else}}
      <div>
        {{moment-format series.releaseDate 'YYYY'}} | {{series.episodes.length}} episodes
      </div>
    {{/if}}
  </div>
</div>
{{#if isStreamSeries}}
  <div class="series-episodes">
    {{live-stream-button series=series}}
  </div>
{{else}}
  <div class="series-episodes">
    {{#each series.episodes as |episode index|}}
      {{series-screen/episode episode=episode isSelected=(eq index selectedIndex)}}
    {{/each}}
  </div>
{{/if}}
