<div class="player-controls-timeline-container">
  <div class="player-controls-timeline">
    <div class="player-controls-timeline-playhead" style="{{seekHeadStyle}}"></div>
  </div>
  <div class="player-controls-skip-indicator" style="left: -3.61381%; display: none;">
    <img src="images/forward-arrow.png">
    <span class="player-controls-skip-symbol">+</span>
    <span class="player-controls-skip-number">10</span>
    <span class="player-controls-skip-text">s</span>
  </div>
  <div class="player-controls-skip-indicator" style="left: -3.61381%; display: none;">
    <img src="images/rewind-arrow.png">
    <span class="player-controls-skip-symbol">-</span>
    <span class="player-controls-skip-number">10</span>
    <span class="player-controls-skip-text">s</span>
  </div>
</div>
<div class="player-controls-timestamp-curtime">{{_currentTime}}</div>
<div class="player-controls-timestamp-totaltime">{{_totalTime}}</div>
<div class="player-controls-content-title">{{title}}</div>
<div class="player-controls-button-back"><img class="player-back-button" src="images/btn_back.png"></div>
<div class="player-controls-content-subtitle">{{description}}</div>
